* {
    padding:0;
    margin:0;
}

html {
    height:100%;    
}

body {
    height:100%;    
    display:flex;
    justify-content: center;
    align-items: center;
    font: 15px "Andy";
}

@font-face {
    font-family: "Andy";
    src: url(andy.ttf);
}

.everything {
    gap: 8px;
    display:flex;
    flex-direction: column;
}

.middlestuff {
    display:flex;
}

.maintext {
    padding:20px;
    text-align: center;
    background-color: rgb(157, 224, 202);
}

.sidebar {
    padding:20px;
    text-align: center;
    width: 140px;
    background-color: rgb(43, 114, 90);
}

.header {
    padding:20px;
    text-align: center;
    background-color: aquamarine;
}

.footer {
    padding:20px;
    text-align: center;
    background-color: aquamarine;
}