* {
    padding:0;
    margin:0;
}

html {
    height:100%;    
}

body {
    background-image: url('../images/diagonal.png');
    height:100%;    
    display:flex;
    justify-content: center;
    font: 15px "Andy";
    color:white;
    background-attachment: fixed;
}

@font-face {
    font-family: "../fonts/Andy";
    src: url(andy.ttf);
}

.ocrpglogo {
    align-self: center;
    margin-top:20px;
}

.everything {
    gap: 8px;
    display:flex;
    flex-direction: column;
}

.header {
    padding:20px;
    text-align: center;
    background-color: rgba(129 129 129 / 0.6);
    background-color: rgb(16 16 16 / 0.7);
}

.toptext {
    font-size: 35px;
    margin-bottom: 15px;
}

.middletext {
    font-size:20px;
}

.links {
    font-size:30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer {
    padding:20px;
    text-align: center;
    background-color: rgba(45 37 73 / 0.3);
    color: black;
}